@import "tailwindcss";
@import 'primeicons/primeicons.css';
:root {
    --p-primary-color: black;
    --p-text-color: black;
    --p-form-field-border-radius: var(--p-border-radius-lg);
    --p-card-body-padding: 1rem;
    --p-datatable-column-title-font-weight: 500;
}

@layer base {
    body {
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: "Inter", sans-serif;
        color: var(--p-text-color);
    }
}

@layer components {
    .p-drawer {
        @apply !border-none !shadow-none;
    }
    .p-inputtext {
        @apply !text-sm;
    }
    .p-datatable-paginator-bottom {
        @apply !border-none;
    }
    .p-datatable {
        @apply flex flex-col gap-2;
    }
    .p-datatable-header-cell {
        @apply !border-t-0;
    }
    .p-datatable-header-cell:first-child {
        @apply !rounded-tl-lg !border-l-0;
    }
    .p-datatable-header-cell:last-child {
        @apply !rounded-tr-lg !border-r-0;
    }
    .p-datatable-tbody > tr > td:first-child {
        @apply !border-l-0;
    }
    .p-datatable-tbody > tr > td:last-child {
        @apply !border-r-0;
    }
    .p-datatable-tbody > tr:last-child > td{
        @apply !border-b-0;
    }
    .p-datatable-tbody > tr:last-child > td:first-child {
        @apply !rounded-bl-lg;
    }
    .p-datatable-tbody > tr:last-child > td:last-child {
        @apply !rounded-br-lg;
    }
    .p-datatable-table-container {
        @apply border border-gray-200 rounded-xl;
    }
    .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
        @apply !px-3 !py-2;
    }
    .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
        @apply !px-3 !py-3.5;
    }

    .p-treetable.p-treetable-sm .p-treetable-tbody > tr > td {
        @apply px-3 py-2;
    }
    
    .p-treetable.p-treetable-sm .p-treetable-thead > tr > th {
        @apply px-3 py-3;
    }
    
    :deep(.p-treetable-toggler) {
        @apply w-8 h-8 text-xs;
    }
    
    :deep(.p-treetable-toggler-icon) {
        @apply text-xs;
    }
    .p-treetable-node-toggle-button {
        min-width: var(--p-treetable-node-toggle-button-size);
    }
}