@import "tailwindcss";
@import 'primeicons/primeicons.css';
:root {
    --p-primary-color: black;
    --p-text-color: black;
    --p-form-field-border-radius: var(--p-border-radius-lg);
}

@layer base {
    body {
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: "Inter", sans-serif;
        color: var(--p-text-color);
    }
}

@layer components {
    .p-drawer {
        border:none !important;
        box-shadow: none !important;
    }
}